@model Michael.Models.Era.EraDetail

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<div class=" col-md-12">
    <hr />
    <hr />

    <h4>Era Detail</h4>
    <hr />
    <div class=" col-md-6">
        <table class="table">
            

                <tr><b>Title</b></tr>

            

            @foreach (var era in Model.Albums)
            {
                <tr>
                    <td>@era.Title</td>


                </tr>
            }
        </table>
    </div>
    
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    
        
    

