@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h4>If you would like to request a change or addition, please fill out this form and we will address it as quickly as possible. Thanks, MJ fan!</h4>
<div class=" col-md-6">
    <form action="https://formspree.io/xrgllnlw"
          method="POST">
        Your name:
        <input type="text" placeholder="Enter your name" name="name">
        <br />
        <br />
        Your email:
        <input type="text" placeholder="Enter email address " name="_replyto">
        <br />
        <br />
        Your message:
        <textarea name="message"></textarea>
        <br />
        <br />
        <button type="submit">Send</button>
    </form>
</div>
<div class=" col-md-6">
    
</div>
