@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div id="home">
    <p class="lead">Michael, Forever is a free web application that will allow a user to view Michael Jacksons full discography (from Off The Wall to Invincible) as well as listen to some of his famous hits.</p>

    <div id="rotate">
        <p><a href="/Era" class="btn btn-primary btn-lg">View All Eras </a></p>
    </div>
</div>
    

    <div class="home" >
        <div class="row">
            <div class="col-md-3">
                <h3>Jackson 5ive</h3>
                <p>
                    There are no complete albums listed at this time but view a few of our Jackson 5 favorite hits.
                </p>
                <a href="/Era/Details/1" class="btn btn-primary btn-lg">Select </a>

            </div>
            <div class="col-md-3">
                <h3>1980's</h3>
                <p>
                    Includes Off The Wall, Thriller, and Bad
                </p>
                <br />
                <br />
                <a href="/Era/Details/2" class="btn btn-primary btn-lg">Select </a>

            </div>
            <div class="col-md-3">
                <h3>1990's</h3>
                <p> Includes Dangerous and HIStory</p>
                <br />
                <br />
                <a href="/Era/Details/3" class="btn btn-primary btn-lg">Select </a>

            </div>
            <div class="col-md-3">
                <h3>2000's</h3>
                <p>Includes Invincible and This Is It</p>
                <br />
                <br />
                <a href="/Era/Details/4" class="btn btn-primary btn-lg">Select </a>

            </div>
        </div>
        <br />
        
    </div>
    <img src="~/Assets/MJ.PNG" />
