@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div id="home">
    <p class="lead">Michael, Forever is a free web application that will allow a user to view Michael Jacksons discography (from Off The Wall to This Is It) as well as, as a registerd user, listen to some of his famous hits.</p>

    <div id="rotate">
        <p><a href="/Era" class="btn btn-primary btn-lg">View All Eras </a></p>
    </div>
</div>
    

    <div class="home" >
        <div class="row">
            <div class="col-md-3">
                <h3>Jackson 5ive</h3>                
                <a href="/Era/Details/1" class="btn btn-primary btn-lg">Select </a>
            </div>

            <div class="col-md-3">
                <h3>1980's</h3> 
                <a href="/Era/Details/2" class="btn btn-primary btn-lg">Select </a>
            </div>

            <div class="col-md-3">
                <h3>1990's</h3>
                <a href="/Era/Details/3" class="btn btn-primary btn-lg">Select </a>
            </div>

            <div class="col-md-3">
                <h3>2000's</h3>
                <a href="/Era/Details/4" class="btn btn-primary btn-lg">Select </a>
            </div>

        </div>
        <br />
        
    </div>
    
    <img src="~/Assets/MJ.PNG" />
