@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <div>

        <p class="lead">Michael, Forever is a free web application that will allow a user to .</p>
        
            @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
    


<div class="row">
    <div class="col-md-3">
        <h3>Jackson 5ive</h3>
        <p>
        </p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Select &raquo;</a>

    </div>
    <div class="col-md-3">
        <h3>Off The Wall/Thriller</h3>
        <p>

        </p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Select &raquo;</a>

    </div>
    <div class="col-md-3">
        <h3>Bad/Dangerous</h3>
        <p> </p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Select &raquo;</a>

    </div>
    <div class="col-md-3">
        <h3>HIStory/Invincible</h3>
        <p></p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Select &raquo;</a>

    </div>    
</div>
<br/>
<img src="~/Assets/MJ.PNG" />
