@model Michael.Models.Albums.AlbumDetail


    <div class=" col-md-6">
        <hr />
        <hr />
        <h4>Album Detail</h4>
        <hr />



        <table class="table">
            

                <tr><b>Title</b></tr>


            
            @foreach (var album in Model.Songs)
            {
                <tr>
                    <td>@album.Title</td>


                </tr>
            }
        </table>
    </div>
<div class=" col-md-6">

</div>


