@model Michael.Models.Songs.SongDetail

@{
    ViewBag.Title = "Details";
}
<hr />
<hr />
<h3>Song Detail</h3>

<div class=" col-md-6">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>



    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<div class=" col-md-6">

</div>