body {
    background-image: url('../Assets/MJ.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 3rem;
    font-weight: 600;
    color: white;
}
